@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Karla:wght@400;700&display=swap');

body {
  margin: 0px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, #48165a 1.18%, #c82fff 100%);
}

.wrapper {
  padding: 40px;
}

#header {
  width: 550px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: snow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px 7px 0px 0px;
  
  .fa-github {
    font-size: 24px;
    margin-left: 18px;
    
    &:hover {
      opacity: 0.8;
    }
  }
  
  a {
    text-decoration: none;
    color: snow;
  }
  
  img {
    margin-right: 10px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Karla';
  }
  
  p {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Inter';
    margin: 0px;
  }
  
  #memeface {
    display: flex;
    align-items: center;
  }
}

#meme {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: snow;
  border-radius: 0px 0px 7px 7px; 
  
  button {
    cursor: pointer;
    width: 477px;
    height: 40px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    color: snow;
    font-weight: 700;
    font-size: 16px;
    border: none;
    
    &:hover {
      background: linear-gradient(90.41deg, #721f8dd9 1.14%, #aa18dad5 100%);
    }
    
    &:active {
      scale: 1.01;
    }
  }
  
  .form--input {
    font-family: 'Karla';
    width: 216px;
    height: 35px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    
    &:focus {
      outline: 1px solid #672280 !important;
      background-color: #eebdff54;
    }
    
  }
  
  input::placeholder {
    color: #0D0D0D;
    font-weight: 400;
  }
  
  #meme--inputs {
    margin: 36px 0px 15px 0px;
    display: flex;
    gap: 17px;
  }
}

#click-info {
  margin: 8px 0px 8px 0px;
  font-family: 'Inter';
  color: #da72ff;
  font-size: 14px;
  font-weight: 500;
}

.meme-img {
  position: relative;
  margin-top: 36px;
  display: flex;
  cursor: pointer;
  
  &:hover {
    opacity: 0.95;
  }
  
  img {
    width: 477px;
  }
}

.meme--text {
  word-wrap: break-word;
  max-width: 100%;
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
  2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0 2px 0 #000,
  2px 0 0 #000,
  0 -2px 0 #000,
  -2px 0 0 #000,
  2px 2px 5px #000;
}

.top-text {
  top: 0px;
}

.bottom-text {
  bottom: 0px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding: 0px;
    height: 100vh;
  }
  
  #header {
    width: 100vw;
    border-radius: 0px;
    
    .fa-github {
      font-size: 20px;
      margin-left: 22px;
    }
  }
  
  #meme--inputs {
    flex-direction: column;
  }
  
  #meme {
    height: 100%;
    
    .form--input {
      width: calc(100vw - 60px);
    }
    
    button {
      width: calc(100vw - 40px);
    }
  }
  
  .meme-img {
    img {
      width: calc(100vw - 40px);
    }
  }
}